@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

li{
  list-style: none;
}

/* ant design */
.header{
  color:white;
  font-size: 4rem;
  height:20vh ;
  line-height: 20vh;
}

.content{
  min-height: 80vh;
}

.form{
  min-width: 50vw;
  height: 20vh;
  margin-top:10vh;
}

.input{
  background:none;
  border:1px solid black;
  border-radius: 5px;
  margin-right:20px;
  padding:8px 200px 8px 5px;
  outline: none;
  text-align: left;
  font-size: 1rem;
}

.submit{
  background:none;
  border:1px solid black;
  border-radius: 5px;
  padding:8px 10px;
  outline: none;
}

.submit:hover{
  background-color: rgb(62, 139, 187);
  color: white;
}

.lists{
  width: 60vw;
  margin:0 auto;
}

.item{
  background-color: rgb(143, 159, 188);
  border-bottom: 1px dotted black;
  padding:8px 0;
  font-size: 1.5rem;
}

.item:hover {
  text-decoration:line-through;
}

.message{
  font-size: 1.5rem;
}
